{% extends 'base.html' %}
{% block title %}Успешная регистрация{% endblock %}
{% load static %}
{% block content %}
<div class="content">
    <p class="h1 mt48 center">Благодарим Вас за регистрацию на нашем сайте.</p>
    <p class="h2 mt16 mb16 center">На Ваш электронный адрес 📬 было выслано письмо 📧 с сылкой активации. Перейдите по ней для активации ✨ Вашего профиля.</p>
    <img style="width: 100%; max-width: 640px; display: block; margin: 32px auto; border-radius: 4px;" src="{% static 'img/sahmpoo.gif' %}" alt="sahmpoo">
    <a class="h2 color-2 block center mt16 mb16" href="/">Перейти на главную страницу</a>
</div>
{% endblock %}
