{% load static %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}<div id="sidebar_menu" class="sidebar menu left">
    
    <div class="menu__header">
        <a href="{% url 'shop:home' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="FortisBeauty">
        </a>
        <select name="set_language">
            {% for langauge in languages %}
                {% if langauge == LANGUAGE_CODE %}
                    <option value="{% url 'core:set_language' langauge %}?path={{ request.path }}" selected>{{ langauge|upper }}</option>
                {% else %}
                    <option value="{% url 'core:set_language' langauge %}?path={{ request.path }}">{{ langauge|upper }} </option>
                {% endif %}
            {% endfor %}
        </select>

        <div class="header__account">
            <a href="{% url 'user:profile' %}">
                <img src="{% static 'img/icons/user/Avatar.svg' %}" alt="Пользоввтель" class="ico">
            </a>
            <div class="header__account-data">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'user:profile' %}">{% trans 'Личный кабинет' %}</a>    
                {% else %}
                    <a href="{% url 'user:login' %}">{% trans 'Вход' %}</a>
                    <span class="slash">/</span>
                    <a href="{% url 'user:registration' %}">{% trans 'Регистрация' %}</a>
                {% endif %}
            </div>
        </div>
        <!-- Whishlist -->
        <div class="header__wishlist" onclick="SidebarOpen('sidebar_wishlist')">
            <img src="{% static 'img/icons/svg/Heart.svg' %}" alt="{% trans 'Список желаний' %}">
            <span class="header__qty header__wishlist-qty">0</span>
        </div>
    </div>

    <ul>
        <li class="group-title__wrapper catalogue">
            <span class="group-title">Каталог:</span>
        </li>
        <div class="tree">
            <ul class="root">
                {% for category in tree %}
                    {% include "base/header/components/category.html" %}
                {% endfor %}
            </ul>
        </div>
        <li>
            <a class="item" href="{% url 'shop:home' %}">Главная</a>
        </li>
       
        <li>
            <a class="item" href="{% url 'shop:catalogue' discount='yes' %}">{% trans 'Акции' %}</a>
        </li>
        <li>
            <a class="item" href="{% url 'shop:brands_all' %}">{% trans 'Бренды' %}</a>
        </li>
        <li>
            <span class="group-title">Партнеру:</span>
        </li>
        <li>
            <a class="item" href="{% url 'shop:home' %}">
                <img src="{% static 'img/icons/svg/Delivery.svg' %}" alt="Opt">
                <span>{% trans 'Опт' %}</span>
            </a>
        </li>
        <li>
            <span class="group-title">Покупателю:</span>
        </li>
        <li>
            <a class="item" href="{% url 'pages:contacts' %}">
                {% trans 'Контакты' %}
            </a>
        </li>
        <li>
            <a class="item" href="{% url 'pages:payment-and-delivery' %}">
                {% trans 'Доставка и оплата' %}
            </a>
        </li>
        <li>
            <a class="item" href="{% url 'pages:about' %}">
                {% trans 'О нас' %}
            </a>
        </li>
        <li>
            <a class="item" href="/blog">
                {% trans 'Блог' %}
            </a>
        </li>
       
    
    </ul>
</div>

<script>
    const tree = document.querySelector('.tree')
    const titles = tree.querySelectorAll('.title')
    for (let title of titles) {
        let parent = title.parentElement
        let ul = parent.querySelector('ul')
        let arr = title.querySelector('img')
        if (arr) {
            arr.onclick = (e) => {
                ul.classList.add('active')
                parent.dataset.initialHeight = parent.offsetHeight
                parent.style.height = ul.offsetHeight + 'px'
                let back = ul.querySelector('.back')
                back.onclick = () => {
                    ul.classList.remove('active')
                    parent.style.height = parent.dataset.initialHeight + 'px'
                }
            }
        }
        
    }
</script>



