{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/user/user__password__restore.css' %}">
{% endblock %}


{% block title %}
    {% trans 'Відновлення пароля' %}
{% endblock %}


{% block content %}
<div class="content form__outer password__restore">
    <div class="form__wrapper">
        <h1 class="h4">Відновлення пароля</h1>
        <p class="helptext">Для відновлення пароля, введіть Ваш e-mail. Після чого ми відправимо Вам посилання для води нового пароля.</p>
        <form class="form validate" action="{% url 'user:restore_password' %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Відправити посилання</button>
        </form>
    </div>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'js/form/validation.js' %}"></script>
<script>
   document.querySelector('input[name="email"]').focus()
</script>
{% endblock %}
