{% load static %}
{% if cart.items|length > 0 %}
    {% for variant in cart.items %}

        <li class="cart__item">
            <a href="{{ variant.url }}" class="cart__image">
                <div class="wrapper">
                    <img src="{% if variant.image|length > 1 %}{{ variant.image }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </div>
            </a>
            <div class="info">
                <a href="{{ variant.url }}" class="title">{{ variant.name }}</a>
                <p class="cart__price">
                    {% if variant.discount_price > 0 and variant.discount_price < variant.price %}
                        <span class="discount_wrapper">
                        <span class="price">{{ variant.discount_price }} грн.</span>
                        <span class="discount_price">{{ variant.price }} грн.</span>
                        </span>
                    {% else %}
                        <span class="price">{{ variant.price }}  грн.</span>
                    {% endif %}
                </p>
                <div class="counter">
                    <button class="action minus">-</button>
                    {% if request.user.real_stock %}
                        <input 
                            class="product_quantity" 
                            data-cart="true"
                            data-variant-id="{{ variant.id }}"  
                            type="number" value="{{ variant.quantity }}" min="1" max="10000"
                        >
                    {% else %}
                        <input 
                            class="product_quantity" 
                            data-cart="true"
                            data-variant-id="{{ variant.id }}"  
                            type="number" value="{{ variant.quantity }}" min="1" max="10000"
                        >
                    {% endif %}
                    <button class="action plus">+</button>
                </div>
                <span class="remove" data-id="{{ variant.id }}" onclick=removeFromCart(this)>
                    <img src="{% static 'img/icons/svg/Garbage.svg' %}" alt="x">
                </span>
            </div>
        </li>
    {% endfor %}
{% else %}
    <p>У кошику немає товарів</p>

    
{% endif %}