{% extends 'base.html' %}{% load i18n %}{% load static %}

{% block links %}
   <link rel="stylesheet" href="{% static 'css/pages/page__contacts.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <!-- BREADCRUMBS -->
    <div class="breadcrumbs">
        <a href="/">
            <span>{% trans 'Головна' %}</span>
        </a>
        <span class="slash">/</span>
        <p>{% trans 'Контакти' %}</p>
    </div>

    <!-- TITLE -->
    <p class="hdng">
        {{ page.trans.title }}
    </p>

    <div class="page__contacts">
        <div class="info__wrapper">
            <div class="info">
                <p class="title title2">{% trans 'Контактна інформація' %}</p>
                <p class="text">{% trans 'Заповніть форму і наша команда зв\'яжеться з Вами протягом 20 хв.' %}</p>
                <ul>
                    {% for phone in phones %}
                        <li>
                            <img src="{% static 'img/icons/svg/Phone.svg' %}" alt="">
                            <span>
                                <span>{{ phone.name }}</span><br>
                                <a href="tel:{{ phone.phone_nums }}">{{ phone.phone }}</a>
                            </span>
                        </li>
                    {% endfor %}
                    <li>
                        <img src="{% static 'img/icons/svg/The_envelope.svg' %}" alt="">
                        <span>
                            <a href="mailto:office.fortisbeauty@gmail.com">office.fortisbeauty@gmail.com</a>
                            <!-- <a href="mailto:{{ page.email }}">{{ maindata.email }}</a> -->
                        </span>
                    </li>
                    <li>
                        <img src="{% static 'img/icons/svg/Address.svg' %}" alt="">
                        <span>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.976263462182!2d30.438570351376825!3d50.42291387937089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ceacf965b5c9%3A0xfbffa28017175956!2z0YPQuy4g0KPRiNC40L3RgdC60L7Qs9C-LCA0MCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1664892167780!5m2!1sru!2sua" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <!-- <a href="">{{ maindata.adress }}</a> -->
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="constct__form">
            
        </div>
    </div>
</div>



{% endblock %}

{% block js %}

<script>
    const formInnerDara = `
        <form action="{% url 'pages:contacts' %}" method="POST" class="form validate" id="contact_form">
            {% csrf_token %}
            <div class="fields">
                {{ form.as_p }}
            </div>
            <button -data-action='submit'>Відправити</button>
        </form>
    ` 
    document.querySelector('.constct__form').innerHTML = formInnerDara
</script>
<script src="{% static 'js/form/validation.js' %}"></script>


{% endblock %}
