{% extends 'base.html' %}{% load i18n %}{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/pages/page.css' %}">
{% endblock %}

{% block content %}
<div class="content page">
    <!-- BREADCRUMBS -->
    <div class="breadcrumbs">
        <a href="/">{% trans 'Головна' %}</a>
        <span class="slash">/</span>
        <p>{% trans 'Контакти' %}</p>
        <span class="slash">/</span>
        <p>{% trans 'Повідомлення надіслано' %}</p>
    </div>
    <!-- TITLE -->
    <p class="title1">
        {% trans 'Дякуємо за Ваше звернення. Незабаром ми зв\'яжемося з Вами' %}
    </p>
</div>
{% endblock %}