.form__outer {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

.form__outer .form__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border: 2px solid var(--clr-1);
    width: 344px;
}
.form__outer .form__wrapper p.helptext,
.form__outer .form__wrapper h1 {
    margin-bottom: 24px;
    line-height: 1.75;
}

.form__outer .form__wrapper p.helptext {
    font-size: var(--h6);
    color: grey;
}

.form__outer .form {
    width: 100%;
}
.form__outer .form ul.errorlist {
    position: relative;
    display: block;
    margin-bottom: 24px;
    font-size: var(--h6);
    color: var(--clr-2);
    font-weight: 600;
    line-height: 1.75;
}