.content .img-div {
    display: flex;
    justify-content: center;
}
.home .content .img-div img {
    object-fit: contain;
    max-height: 68vh;
    max-width: 92%;

}

.home .content .img-div img {
    padding-top: 72px;
}

.swiper-container > .content {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.home .pagination-button-outer {
    display: flex;
    position: relative;
    width: 100%;
    height: 116px;
    justify-content: flex-end
}

@media (max-width:960px) {
    .home .pagination-button-outer {
        padding-right: 24px;
    }
    .home .pagination-button-div {
        margin-left: 0 !important;

    }
}
.pagination-button-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0, 0.15);
    margin-left: 16px;
    z-index: 0;
}
.pagination-button-div {
    transition: 0.5s;
}
.pagination-button-div:hover {
    background-color: var(--clr-2-darker);
    box-shadow: 0 8px 16px rgba(0,0,0, 0.3);
    transition: 0.5s;
    color: white;

}

.home__categories {
    margin-bottom: 80px;
}
.home__categories ul {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px);
    margin-left: -8px;
}
.home__categories ul li {
    
    flex-grow: 1;
    width: 22%;
    padding: 24px;
    background-color: white;
    border: 2px solid whitesmoke;
    margin: 0 8px 16px 8px;
    border-radius: 8px;
}
.home__categories ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__categories ul li img {
    width: 96px;
    height: 96px;
    margin-bottom: 24px;
    object-fit: contain;
    object-position: center;
}

.home__categories ul li .name {
    position: relative;
    width: 100%;
    font-size: var(--h5);
    font-weight: 600;
    text-align: center;
}

@media(max-width: 960px) {
    .home__categories ul li {
        width: 50%;
        
    }
}


.home-about {
    position: relative;
    display: block;
    margin: 40px 0 80px 0;
}
.home-about .logo {
    width: 100%;
    max-width: 240px;
    margin-bottom: 40px;
}

.home-about .content {
    position: relative;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 80px 24px;
    background-color: #e6faff;
    text-align: center;
}






.home-about .content .title {
    position: relative;
    display: block;
    font-size: var(--h2);
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
    padding: 0 12px;
}   
.home-about .content .description {
    font-size: var(--h5);
    line-height: 1.5;
    text-align: center;
    padding: 0 12px;
}


.home-advantages {
    margin-bottom: 40px;
}


.home-advantages .content .title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 48px;
    font-size: var(--h2);
    
}
.home-advantages .content ul {
    position: relative;
    width: calc(100% + 16px);
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;
}
.home-advantages .content ul li {
    position: relative;
    display: block;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    padding: 32px;
    margin: 0 8px 16px 8px;
    width: 33%;
    flex-grow: 1;
    transition: all 0.2s ease-in-out;
}
.home-advantages .content ul li:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 24px rgba(0,0,0, 0.1);
    border-color: var(--clr-1);
}

.home-advantages .content ul li .name {
    font-size: var(--h4);
    font-weight: 600;
    margin-bottom: 12px;
}


.home-advantages .content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
    object-fit: contain;
    object-position: 50% 50%;