{% load static %}{% load i18n %}{% load compress %}{% load cache %}{% get_current_language as LANGUAGE_CODE %}
<footer>
    <div class="content">
        <div class="contacts">
            <div class="block">
                
                <span class="title">Контакти</span>
                <span>
                    <span>Email:</span>
                    <a href="mailto:office.fortisbeauty@gmail.com">office.fortisbeauty@gmail.com</a>
                    <!-- <a href="mailto:{{ page.email }}">{{ maindata.email }}</a> -->
                </span>
            </div>
            
            <ul class="phones">
                {% for phone in phones %}
                    <li>
                        <span>{{ phone.name }}</span><br>
                        <a href="tel:{{ phone.phone_nums }}">{{ phone.phone }}</a>
                    </li>
                {% endfor %}
            </ul>
            <span>Пн-пт 10:00-19:000</span>
        </div>
        <div class="links">
            <div class="info">
                <span class="title">Інформація</span>
                <ul>
                    <li>
                        <a href="{% url 'shop:catalogue' %}">Каталог</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:brands_all' %}">Бренди</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:about' %}">Про нас</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:list' %}">Блог</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:contacts' %}">Контакти</a>
                    </li>
                </ul>
            </div>
            
            <div class="block partners">
                <span class="title">Партнерам</span>
                <ul>
                    <li>
                        <a href="{% url 'opt:opt' %}">Опт</a>
                    </li>
                </ul>
            </div>
            <div class="block clients">
                <span class="title">Клієнтам</span>
                <ul>
                    <li>
                        <a href="{% url 'pages:delivery' %}">Доставка</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:payment' %}">Оплата</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:terms_of_use' %}">Умови використання</a>
                    </li>

                    
                </ul>
            </div>
        </div>
    
        <div class="payment">
            <div class="block payment">
                <span class="title">Спосіб оплати</span>
                <ul class="pay_methods">
                    <li>
                        <img src="{% static 'img/paymethods.png' %}" alt="paymethods">
                    </li>
                </ul>
            </div>
            <div class="block payment">
                <span class="title">Соціальні мережі</span>
                <ul class="socials">
                    <li>
                        <a href="https://www.instagram.com/fortisbeauty.ua/">
                            <img src="{% static 'img/instagram.png' %}" alt="instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/fortisbeauty.store/">
                            <img src="{% static 'img/facebook.png' %}" alt="facebook">
                        </a>
                    </li>
                </ul>
            </div>
            
                
            <!-- <a href="{% url 'core:sitemap' %}">{% trans 'Карта сайта' %}</a> -->
        </div>
    </div>
    


    
    
</footer>