{% load static %}
{% load i18n %}
<!-- LINKS -->

<!-- HTML -->


<div class="quiz__inner">
    <form id="quiz_form" action="{% url 'opt:opt_offer_quiz' %}" method="POST">
        {% csrf_token %}
        <div class="swiper-container" id="quiz_swiper">
            <!-- Additional required wrapper -->
            <p class="center pb24">Шаг <span id="current_slide">1</span>/<span id="total_slides"></span></p>
            <div class="swiper-wrapper">
                <!-- SLIDE 1 -->
                {% include './quiz_slide_1.html' %}
                <!-- SLIDE 2 -->
                {% include './quiz_slide_2.html' %}
                <!-- SLIDE 3 -->
                {% include './quiz_slide_3.html' %}
                <!-- SLIDE 4 -->
                {% include './quiz_slide_4.html' %}
                <!-- SLIDE 5 -->
                {% include './quiz_slide_5.html' %}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            {% include 'opt/salons/elements/quiz_navigation.html' %}
            
        </div>
    </form>
</div>






