{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!-- TITLE -->
{% block title %}
{% trans 'Статті' %}
{% endblock %}
<!-- LINKS -->
{% block links %}
    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock %}
<!-- OPENGRAPH -->
{% block og %}
    <meta property="og:title"        content="FortisBeauty: {% trans 'Статті' %}" />
    <meta property="og:description"  content="{% trans 'Блог' %} FortisBeauty" />
    <meta property="og:type"         content="blog" />
    <meta property="og:url"          content="https://fortisbeauty.store{{ request.path }}" />
    <meta property="og:image:width"  content="480" />
    <meta property="og:image:height" content="480" />
    <meta property="og:image"        content="https://fortisbeauty.store{% static 'img/og-logo.jpg' %}" />
    <meta property="og:locale"       content="ua_UA">
{% endblock %}
<!-- CONTENT -->
{% block content %}
<div class="content">
    <ul class="breadcrumbs">
        <li>
            <a href="/">Головна</a>
        </li>
        <li>
            <span class="slash">/</span>
            <span>{% trans 'Статті' %}</span>
        </li>
    </ul>
</div>
<div class="content blog">
    <ul class="blog__post__list">
        {% for post in posts %}
            {% include 'blog/list_item.html' %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
