{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!-- LINKS -->
{% block links %}
<link rel="stylesheet" href="{% static 'css/shop/shop__about.css' %}">
{% endblock %}
<!-- CONTENT -->
{% block content %}
<div class="content about">
	<div>
		<img src="{% static 'img/logo.png' %}" alt="">
		<div class="richtext">
			<h1 class="medium h1 pb24 center">О компании</h1>
			{% if text.about_us %}
				{{ text.about_us.translate.text|safe }}
			{% else %}
				<div class="about_mission">
					<p class="pt8 h4"><span class="bold h4">Наша миссия</span> - это не поиск подходящего клиента для нашего предложения, а создание подходящего предложения для нашего клиента ! Мы делаем это постоянно развиваясь и внедряя самые новые и актуальные предложения с рынка бюти индустрии, тем самым повышая и без того высокую планку потребности нашего клиента. Компания FortisBeauty базируется в Украине, г. Киев ул.Семьи Идзиковских 39 и включает представительства таких брендов как TM Evgeniy Eroshkin TM Moroccanoil, TM Genosys.</p>
					<p class="pt8 h4">Представительства таких брендов как: TM Evgeniy Eroshkin, TM Moroccanoil, TM Genosys.</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
