{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<!-- LINKS -->
{% block links %}
<link rel="stylesheet" href="{% static 'css/shop/shop__about.css' %}">
{% endblock %}
<!-- CONTENT -->
{% block content %}
<div class="content about">
	<div>
		<img src="{% static 'img/logo.png' %}" alt="">
		<div class="richtext">
			<h1 class="medium h1 pb24 center">Про компанію</h1>
			{% if text.about_us %}
				{{ text.about_us.translate.text|safe }}
			{% else %}
				<div class="about_mission">
					<p class="pt8 h4"><span class="bold h4">Наша місія</span> - це не пошук відповідного клієнта для нашої пропозиції, а створення відповідної пропозиції для нашого клієнта! Ми робимо це постійно розвиваючись і впроваджуючи найновіші та найактуальніші пропозиції з ринку бюті індустрії, тим самим підвищуючи і так високу планку потреби нашого клієнта. Компанія FortisBeauty базується в Україні, м. Київ вул. Сім'ї Ідзиковських 39 та включає представництва таких брендів як TM Evgeniy Eroshkin TM Moroccanoil, TM Genosys.</p>
					<p class="pt8 h4">Представництва таких брендів як: TM Evgeniy Eroshkin, TM Moroccanoil, TM Genosys.</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
