{% extends 'base.html' %}
{% load static %}
{% block links %}
	<link rel="stylesheet" href="{% static 'css/shop/shop__delivery.css' %}">
{% endblock %}
{% block content %}
<div class="delivery content">
	<div>
		<h1 class="medium h1 center">Условия оплаты и доставки</h1>
		<p>
			<span>
				Удобная форма оплаты - это обязательный стандарт обычной покупки в FortisBeauty. Вам удобно оплачивать товар наличными или картой - к Вашим услугам !
			</span>
			<span>
				Если вы находитесь в Киеве, у Вас есть возможность оформить адресную доставку или забрать продукцию лично из нашего офиса. Оплату товара также можно произвести как на месте при получении, так картой на сайте, через встроенное приложение Приват24. Выбранный / оплаченый товар вовремя привезут на указанный адрес клиентом день в день. При условии заказа до 13:00.
			</span>
			<span>
				Для доставки по всей территории Украины Вы можете воспользоватся мы отправим Вам посылку Новой Почтой, ее можно оплатить в отделении, после получения или картой сразу при оформлении на сайте, через приложение Приват24.
			</span>
			<span>
				При оплате осуществлении опты при помощи карты, список приобретенных товаров автоматически будет отображен в назначении платежа, а после завершения оплаты, Вы сможете отправить квитанцию на свой E-amil.
			</span>
		</p>
	</div>
	
</div>
{% endblock %}
