{% extends 'base.html' %}
{% load static %}
{% block links %}
	<link rel="stylesheet" href="{% static 'css/shop/shop__delivery.css' %}">
{% endblock %}
{% block content %}
<div class="delivery content">
	<div>
		<h1 class="medium h1 center">Умови оплати та доставки</h1>
		<p>
			<span>
				Зручна форма оплати – це обов'язковий стандарт звичайної покупки у FortisBeauty. Вам зручно оплачувати товар готівкою або карткою - до Ваших послуг !
			</span>
			<span>
				Якщо Ви знаходитесь в Києві, Ви маєте можливість оформити адресну доставку або забрати продукцію особисто з нашого офісу. Оплату товару також можна зробити як на місці при отриманні, так карткою на сайті через вбудований додаток Приват24. Вибраний/оплачений товар вчасно привезуть на вказану адресу клієнтом щодня. За умови замовлення до 13:00.
			</span>
			<span>
				Для доставки по всій території України Ви можете скористатися ми надішлемо Вам посилку Новою Поштою, її можна сплатити у відділенні, після отримання або карткою відразу при оформленні на сайті, через додаток Приват24.
			</span>
			<span>
				При оплаті здійснення опти за допомогою картки, список придбаних товарів автоматично буде відображено у призначенні платежу, а після завершення оплати, Ви зможете надіслати квитанцію на свій E-amil.
			</span>
		</p>
	</div>
	
</div>
{% endblock %}
