
{% autoescape off %}
<h2>Здравствуйте {{ user.first_name }}</h2>

{% if password %}
    <h3>Вы харегестрированы как новый пользователь FortisBeauty</h3>
    <p>Оптовые цены станут доступны после того как наши менеджеры свяжутся с Вами по телефону</p>
    <p>Логин: {{ user.email }}</p>
    <p>Пароль: {{ password }}</p>
{% endif %}

<p>
    <span>Пожалуйста пройдите по ссылке активации, для подтверждения своего аккаунта </span>
    <a href="http://{{ domain }}{% url 'user:activate' uidb64=uid token=token %}">Ссылка активации</a>
</p>
{% endautoescape %}
