
{% autoescape off %}
<h2>Доброго дня {{ user.first_name }}</h2>

{% if password %}
    <h3>Ви зареєстровані як новий користувач FortisBeauty</h3>
    <p>Оптові ціни стануть доступні після того, як наші менеджери зв'яжуться з Вами по телефону</p>
    <p>Логін: {{ user.email }}</p>
    <p>Пароль: {{ password }}</p>
{% endif %}

<p>
    <span>Будь ласка, пройдіть посилання активації, для підтвердження свого облікового запису </span>
    <a href="http://{{ domain }}{% url 'user:activate' uidb64=uid token=token %}">Посилання активації</a>
</p>
{% endautoescape %}
