{% load static %}{% load i18n %}<ul class="aditional_info">
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Delivery.svg' %}" alt="">
        <span class="h5">{% trans 'Доставка по всей Украине новой почтой, по Киеву доставка курьером' %}</span>
    </li>
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Purse.svg' %}" alt="">
        <span class="h5">{% trans 'Оплата, наличными при получении или на карту, через сайт' %}</span>
    </li>
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Page.svg' %}" alt="">
        <span class="h5">{% trans 'Гарантия на всю продукцию' %}</span>
    </li>
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Back.svg' %}" alt="">
        <span class="h5"{% trans '>Возможность возврата' %}</span>
    </li>
</ul>