{% load static %}{% load i18n %}<ul class="aditional_info">
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Delivery.svg' %}" alt="">
        <span class="h5">{% trans 'Доставка по всій Україні новою поштою, по Києву кур'єром.' %}</span>
    </li>
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Purse.svg' %}" alt="">
        <span class="h5">{% trans 'Оплата, готівкою при отриманні або на карту, через сайт' %}</span>
    </li>
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Page.svg' %}" alt="">
        <span class="h5">{% trans 'Гарантія на всю продукцію' %}</span>
    </li>
    <li>
        <img class="ico-s" src="{% static 'img/icons/buyer_info/Back.svg' %}" alt="">
        <span class="h5"{% trans '>Можливість повернення' %}</span>
    </li>
</ul>