{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/base/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop/product_card.css' %}">
</head>
<body>
    <div class="product-qr-info-div">
        <table class="table">
            <tr>
              <th class="">{% trans 'Продукт' %}</th>
            <th class="">{{ product.brand }} - {{ product.name }}</th>
            </tr>
          <tr>
            <th class="">{% trans 'Дата изготовления' %}</th>
            <th class="">10.06.2019</th>
          </tr>
          <tr>
            <th class="">{% trans 'Срок годности' %}</th>
            <th class="">3 года</th>
          </tr>
          <tr>
            <th class="">{% trans 'Страна производитель' %}</th>
            <th class="">США</th>
          </tr>
          <tr>
            <th class="">{% trans 'Импортёр' %}</th>
            <th class="">ООО «ФОРТИС БЪЮТИ», г. Киев, ул. Семьи Идзиковских, 39, +38 (044) 3534332</th>
          </tr>
        </table>
    </div>

</body>
</html>
