{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/order/order.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

<div class="order__success">
    <div class="content">
        <h1 class="">{% trans 'Ваше замовлення прийнято.' %}</h1>
        <!-- <p class="">{% trans 'Незабаром наші менеджери з Вами зв\'яжуться для підтвердження замовлення.' %}</p> -->
        <div id="delivery">
            <img width="120px" height="120px" src="{% static 'img/opt_success.png' %}" alt="">
        </div>
    </div>
</div>

<div class="content order__wrapper">
    <div class="order">
        <h1 class="title1">Деталі Вашого замовлення </h1>
        <ul class="products__list__order">
            {% for item in cart.items %}

            <li>
                <div class="image">
                    <a href="{{ item.url }}" class="wrapper">
                        <img src="{{ item.image }}" alt="*">
                    </a>
                </div>
                <div class="data">
                    <div class="info">
                        <span class="name">{{ item.name }}</span>

                        {% if item.discount_price > 0 and item.discount_price < item.price %}

                        <span class="price">{{ item.discount_price }} грн.</span>

                        {% else %}
                        <span class="price">{{ item.price }} грн.</span>
                        {% endif %}
                    </div>
                    <div class="qunatity">
                        <div class="counter">{{ item.quantity }}
                        </div>
                    </div>
                </div>

            </li>

            {% endfor %}
        </ul>
        <span class="order__total">
            <span>Сума замовлення:</span>

            <span>{{ cart.total }} грн.</span>
        </span>
    </div>
</div>

<script>
    window.onload = function(){
     var delivery = document.getElementById("delivery");
             TweenLite.to(delivery, 5, {left:"1640px"});
 }



</script>

{% endblock %}
