{% autoescape off %}
<h2>Доброго дня {{ user.first_name }}, дякуємо за ваше замовлення!</h2>
<h3>
    <span>Ваше замовлення прийнято.</span>

</h3>

{% for item in cart %}
    <li>
        <div class="data">
            <div class="info">
                <span class="name">{{ item.variant }}</span>
                <span class="quantity">{{ item.quantity }} шт.</span>
                <span class="price">{{ item.price }} грн.</span>
            </div>
        </div>
    </li>
{% endfor %}

<h3>
    <span>Сума замовлення {{ total }} грн.</span>

</h3>
{% endautoescape %}