{% load static %}
<div class="swiper-slide">
    <!-- BUSINESS TYPE -->
    <p class="h2">Вид Вашего бизнесу?</p>
    <div class="pb24 quiz_block" data-value="business_type">
        
        <div class="inputs">
            <input type="hidden" name="business_type_hidden" id="business_type_hidden">
            <p>
                <input class="business_type" type="radio" data-value="Салон краси" name="business_type" id="business_type_1">
                <label for="business_type_1">Салон краси</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Косметологічний центр" name="business_type" id="business_type_2">
                <label for="business_type_2">Косметологічний центр</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Приватний майстер парткмахер" name="business_type" id="business_type_3">
                <label for="business_type_3">Приватний майстер парткмахер</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Кабінет клсметолога" name="business_type" id="business_type_4">
                <label for="business_type_4">Кабінет клсметолога</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Барбер шоп" name="business_type" id="business_type_5">
                <label for="business_type_5">Барбер шоп</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Instagram магазин" name="business_type" id="business_type_6">
                <label for="business_type_6">Instagram магазин</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Інтернет магазин" name="business_type" id="business_type_7">
                <label for="business_type_7">Інтернет магазин</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Офлайн магазин" name="business_type" id="business_type_8">
                <label for="business_type_8">Офлайн магазин</label>
            </p>
            <p>
                <input class="business_type" type="radio" data-value="Дропшипінг" name="business_type" id="business_type_9">
                <label for="business_type_9">Дропшипінг</label>
            </p>

        </div>
        <input class="selectize-input" type="text" name="business_type_custom" id="business_type_custom" placeholder="Ваш варіант">
        
    </div>
    <!-- BRANDS -->
    <div class="quiz_block" data-value="brand_work">
        <p class="h3">Бренди з якими Ви працюєте</p>
        <input type="hidden" id="brand_work_hidden" name="brand_work_hidden">
        <div class="inputs">
            <p>
                <input type="checkbox" name="brand_work_1" class='brand' id="" data-value="Morocanoil">
                <label for="brand_work_1">Morocanoil</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_2" class='brand' id="" data-value="La Biosthetique">
                <label for="brand_work_2">La Biosthetique</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_3" class='brand' id="" data-value="Foruk (Chi)">
                <label for="brand_work_3">Foruk (Chi)</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_4" class='brand' id="" data-value="Balman">
                <label for="brand_work_4">Balman</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_5" class='brand' id="" data-value="Oribe">
                <label for="brand_work_5">Oribe</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_6" class='brand' id="" data-value="Kenue">
                <label for="brand_work_6">Kenue</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_7" class='brand' id="" data-value="Orsing">
                <label for="brand_work_7">Orsing</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_8" class='brand' id="" data-value="Biolage">
                <label for="brand_work_8">Biolage</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_9" class='brand' id="" data-value="Nashi Argan">
                <label for="brand_work_9">Nashi Argan</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_10" class='brand' id="" data-value="Gkhair">
                <label for="brand_work_10">Gkhair</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_11" class='brand' id="" data-value="Moroccanoil">
                <label for="brand_work_11">Moroccanoil</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_12" class='brand' id="" data-value="Kevin Murphy">
                <label for="brand_work_12">Kevin Murphy</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_13" class='brand' id="" data-value="Obagi Medical">
                <label for="brand_work_13">Obagi Medical</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_14" class='brand' id="" data-value="Babor">
                <label for="brand_work_14">Babor</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_15" class='brand' id="" data-value="Elemis">
                <label for="brand_work_15">Elemis</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_16" class='brand' id="" data-value="Genosis">
                <label for="brand_work_16">Genosis</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_17" class='brand' id="" data-value="Ph Formula">
                <label for="brand_work_17">Ph Formula</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_18" class='brand' id="" data-value="Mark Inban">
                <label for="brand_work_18">Mark Inban</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_19" class='brand' id="" data-value="Rexaline">
                <label for="brand_work_19">Rexaline</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_20" class='brand' id="" data-value="Natura Bisse">
                <label for="brand_work_20">Natura Bisse</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_21" class='brand' id="" data-value="Loelle Ciocco">
                <label for="brand_work_21">Loelle Ciocco</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_22" class='brand' id="" data-value="Rosy Drop">
                <label for="brand_work_22">Rosy Drop</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_23" class='brand' id="" data-value="Erbarian">
                <label for="brand_work_23">Erbarian</label>
            </p>
            <p>
                <input type="checkbox" name="brand_work_24" class='brand' id="" data-value="3Lab">
                <label for="brand_work_24">3Lab</label>
            </p>
        </div>
        <select class="select-state" name="state[]" multiple class="demo-default" placeholder="Ваш варіант">
            {% include 'opt/salons/brands.html' %}
        </select>
    </div>
   
</div>