{% load static %}
<div class="swiper-slide">
    <!-- CLIENT BUDGET -->
    <div class="quiz_block" data-value="budget">
        <p class="h3">Бюджет Вашего клиента</p>
        <input type="hidden" name="budget_hidden" id="budget_hidden" value="">
        <div class="inputs">
            <p>
                <input class="clien_budjet" type="checkbox" data-value="Эконом" name="" id="clien_budjet_1">
                <label for="clien_budjet_1">Эконом</label>
            </p>
            <p>
                <input class="clien_budjet" type="checkbox" data-value="Средний" name="" id="clien_budjet_2">
                <label for="clien_budjet_2">Средний</label>
            </p>
            <p>
                <input class="clien_budjet" type="checkbox" data-value="Выше среднего" name="" id="clien_budjet_3">
                <label for="clien_budjet_3">Выше среднего</label>
            </p>
            <p>
                <input class="clien_budjet" type="checkbox" data-value="Бизнес" name="" id="clien_budjet_4">
                <label for="clien_budjet_4">Бизнес</label>
            </p>
            <p>
                <input class="clien_budjet" type="checkbox" data-value="Премиум" name="" id="clien_budjet_5">
                <label for="clien_budjet_5">Премиум</label>
            </p>
        </div>
    </div>
    
    <!-- BRAND I WANT -->
    <div class="quiz_block" data-value="brand_i_want">
        <p class="h3">Бренды с которыми Вы хотели бы работать</p>
        <input type="hidden" name="brand_i_want_hidden" id="brand_i_want_hidden" value="">
        <div class="inputs">
            <p>
                <input type="checkbox" name="brand_i_want_1" class='brand' id="" data-value="Morocanoil">
                <label for="brand_i_want_1">Morocanoil</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_2" class='brand' id="" data-value="La Biosthetique">
                <label for="brand_i_want_2">La Biosthetique</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_3" class='brand' id="" data-value="Foruk (Chi)">
                <label for="brand_i_want_3">Foruk (Chi)</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_4" class='brand' id="" data-value="Balman">
                <label for="brand_i_want_4">Balman</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_5" class='brand' id="" data-value="Oribe">
                <label for="brand_i_want_5">Oribe</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_6" class='brand' id="" data-value="Kenue">
                <label for="brand_i_want_6">Kenue</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_7" class='brand' id="" data-value="Orsing">
                <label for="brand_i_want_7">Orsing</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_8" class='brand' id="" data-value="Biolage">
                <label for="brand_i_want_8">Biolage</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_9" class='brand' id="" data-value="Nashi Argan">
                <label for="brand_i_want_9">Nashi Argan</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_10" class='brand' id="" data-value="Gkhair">
                <label for="brand_i_want_10">Gkhair</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_11" class='brand' id="" data-value="Moroccanoil">
                <label for="brand_i_want_11">Moroccanoil</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_12" class='brand' id="" data-value="Kevin Murphy">
                <label for="brand_i_want_12">Kevin Murphy</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_13" class='brand' id="" data-value="Obagi Medical">
                <label for="brand_i_want_13">Obagi Medical</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_14" class='brand' id="" data-value="Babor">
                <label for="brand_i_want_14">Babor</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_15" class='brand' id="" data-value="Elemis">
                <label for="brand_i_want_15">Elemis</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_16" class='brand' id="" data-value="Genosis">
                <label for="brand_i_want_16">Genosis</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_17" class='brand' id="" data-value="Ph Formula">
                <label for="brand_i_want_17">Ph Formula</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_18" class='brand' id="" data-value="Mark Inban">
                <label for="brand_i_want_18">Mark Inban</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_19" class='brand' id="" data-value="Rexaline">
                <label for="brand_i_want_19">Rexaline</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_20" class='brand' id="" data-value="Natura Bisse">
                <label for="brand_i_want_20">Natura Bisse</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_21" class='brand' id="" data-value="Loelle Ciocco">
                <label for="brand_i_want_21">Loelle Ciocco</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_22" class='brand' id="" data-value="Rosy Drop">
                <label for="brand_i_want_22">Rosy Drop</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_23" class='brand' id="" data-value="Erbarian">
                <label for="brand_i_want_23">Erbarian</label>
            </p>
            <p>
                <input type="checkbox" name="brand_i_want_24" class='brand' id="" data-value="3Lab">
                <label for="brand_i_want_24">3Lab</label>
            </p>
        </div>
        <select class="select-state" name="brand_i_want_custom" id="brand_i_want_custom" multiple class="demo-default" placeholder="Ваш варинт">
            {% include 'opt/salons/brands.html' %}
        </select>
    </div>
    <!-- MONTH BUDGET -->
    <div class="quiz_block" data-value="month_budjet">
        <p class="h3 mt16">Бюджет закупки косметики на месяц</p>
        <input type="hidden" name="month_budjet_hidden" id="month_budjet_hidden" value="">
        <div class="inputs">
            <p>
                <input class="month_budjet" id="month_budjet_1" type="radio" name="month_budjet" data-value="до 10 000 грн.">
                <label for="month_budjet_1">до 10 000 грн.</label>
            </p>
            <p>
                <input class="month_budjet" id="month_budjet_2" type="radio" name="month_budjet" data-value="до 30 000 грн.">
                <label for="month_budjet_2">до 30 000 грн.</label>
            </p>
            <p>
                <input class="month_budjet" id="month_budjet_3" type="radio" name="month_budjet" data-value="до 50 000 грн.">
                <label for="month_budjet_3">до 50 000 грн.</label>
            </p>
            <p>
                <input class="month_budjet" id="month_budjet_4" type="radio" name="month_budjet" data-value="до 100 000 грн.">
                <label for="month_budjet_4">до 100 000 грн.</label>
            </p>
            <p>
                <input class="month_budjet" id="month_budjet_5" type="radio" name="month_budjet" data-value="100 000 + грн.">
                <label for="month_budjet_5">100 000 + грн.</label>
            </p>
        </div>
    </div>
    
</div>