<div class="newpost delivery__type-form">
    <div class="fields">
        <label>
            <input 
                type="text" 
                data-type="text"  
                data-empty="Введіть місто відправки"
                name="city" 
                value="" 
                placeholder="Місто відправки" 
                required>
        </label>
  
        <label>
            <input 
                type="text" 
                data-type="text" 
                data-empty="Номер відділення Нової пошти"
                name="branch" 
                value="" 
                placeholder="Номер відділення Нової пошти" 
                required>
        </label>
    </div>
       
    <div>
        <span class="subtitle">Спосіб оплати</span>
        
        <input class="hidden" type="radio" name="pay_type" value="cash" id="paytype_1" checked>
        <input class="hidden" type="radio" name="pay_type" value="card" id="paytype_2" id="order_card_pay">
        <ul class="payment-types">
            <label for="paytype_1">
                <li>Накладений платіж</li>
            </label>
            <label for="paytype_2">
                <li>Оплатити карткою</li>
            </label>
        </ul>
        
    </div>
</div>