{% load static %}{% load mptt_tags %}
<input type="radio" name="comment__type" id="comment__type__comment" checked>
<input type="radio" name="comment__type" id="comment__type__question">

<div class="comment__type">
     <label for="comment__type__comment">Відгуки</label>
     <label for="comment__type__question">Запитання</label>
</div>
<div class="comments__list hidden">
     <div class="button__wrapper">
          <button class="add-comment">Залишити відгук</button>
     </div>
     {{ comments }}
</div>

<div class="questions__list hidden">
     <div class="button__wrapper">
          <button class="add-question">Задати питання</button>
     </div>
     {{ questions }}
</div>

