{% load i18n %}
{% load static %}{% load mptt_tags %}
<input type="radio" name="description__type" id="description__type__text" checked>
<input type="radio" name="description__type" id="description__type__properties">

<div class="select__buttons">
     <label for="description__type__text">Опис</label>
     <label for="description__type__properties">Характеристики</label>
</div>
<div class="select__block products__description hidden">
    <span class="heading1">Описання {{ product.human }}</span>
    <ul>
        <!-- description -->
        {% if product.description|length > 0 %}
            <li>
                <span class="pt16 richtext">
                    {{ product.description|safe }}
                </span>
            </li>
        {% endif %}
        <!-- PRESCRIPTION -->
        {% if product.prescription|length > 0 %}
            <li>
                <span class="title">{% trans 'Призначення' %}</span>
                <span class="pt16">{{ product.prescription }}</span>
            </li>
        {% endif %}
        <!-- APPLICATION -->
            {% if product.application|length > 0 %}
            <li>
                <span class="title">{% trans 'Спосіб застосування' %}</span>
                <span class="pt16">{{ product.application }}</span>
            </li>
        {% endif %}
        <!-- COMPOSITION -->
        {% if product.composition|length > 0 %}
            <li>
                <span class="title">{% trans 'Склад' %}</span>
                <span class="pt16">{{ product.composition }}</span>
            </li>
        {% endif %}
    </ul>
</div>

<div class="products__properties hidden">
    <table>
        <tbody>
            <tr>
                <td>Категорія:</td>
                <td>
                    <a href="{{ product.category.url }}">{{ product.category.name }}</a>
                </td>
            </tr>
            <tr>
                <td>Бренд:</td>
                <td>
                    <a href="{{ product.brand.url }}">{{ product.brand.name }}</a>
                </td>
            </tr>
            {% if product.serie %}
                <tr>
                    <td>Серія:</td>
                    <td>
                        <span>{{ product.serie }}</span>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Косметика для:</td>
                <td>
                    <a href="{{ categories.0.url }}">{{ categories.0.name }}</a>
                </td>
            </tr>
        



        </tbody>
    </table>
</div>







